@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)
Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 3vh; /* default font-size = 1.0rem */
font-family: 'Helvetica Neue', Calibri, Verdana, sans-serif;
background-color: #222;
}
h1{
   text-align: center;   
     font-size: 3rem;
    color: #d4d4d4;
    text-shadow: 1px 1px 2px black, -1px -1px 2px gold;
}
h3{
    font-size: 2.0rem;
  line-height: 3;
}
p{
  padding: 15px 0px;
}
nav a, nav a:link, nav a:visited{
  color: gold;
   text-decoration: none; 
}
nav a:hover, a:active{
  color:#fff;
}
nav ul{

  text-align: center;
  text-decoration: none;
    border:solid 12px#999;
    padding:10px 0px 45px 0px;
    border-left:0px; 
   border-right:0px; 
}
nav li{
    float: left;
    display: block;   
  text-decoration: none;
    float:left;
  width: 20%;
}
#wrapper{
  max-width:930px;
  width:90%;
  margin:0 auto; 
    background-color: #444;
  color: white;
}
#masthead{
   background: url("saturn.v1.jpg") no-repeat ;
    line-height: 3;
}

#main{
  margin: 50px 30px 30px 30px;
}
#footer{
  background: #333;
    padding: 20px 25px;
}
#footer p{
 background-color: #333;
    color: #999;
}
#footer a{
 color: gold;
}